---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

{# {%- for letter in alphabet %}
/{{letter | lower}} /{{letter | upper}} #}

{%- for category in categories %}
/{{category.slug | lower}} /{{category.slug | upper}}

{%- endfor -%}